In [11]:
import pandas as pd
import itertools
import random
import json

In [3]:
seeds = pd.read_csv('data-seed/finance_20/user.csv', sep='\t')
seeds

       id_user      screen_name
0     36361027    laurenlacapra
1    104952689     lamonicabuzz
2     35810531    bill_easterly
3      6361512           fgoria
4     31137628         firoozye
5     18622869        ezraklein
6    241709263     economistmeg
7    397489668        rencapman
8     18378349  keithmccullough
9    327577091    justinwolfers
10     7517052    howardlindzon
11  1305698738    economisthulk
12    22522178   reformedbroker
13   372460791       reinman_mt
14   300868924      eu_eurostat
15   211106542   dsquareddigest
16   575160556    faulljonathan
17   407347022     queen_europe
18    36499730      kathylienfx
19    57268394  katie_martin_fx

In [4]:
names = list(seeds['screen_name'])

In [8]:
all_comb = list(itertools.combinations(names, 10))

In [9]:
res = {}
for i in range(50):
    res[i] = random.choice(all_comb)

In [12]:
with open('finance_combinations.json', 'w') as fp:
    json.dump(res, fp)