In [1]:
import pandas as pd
import itertools
import random
import json

In [2]:
seeds = pd.read_csv('data-seed/fashion/user.csv', sep='\t')
seeds

       id_user      screen_name
0     47807745   edwardcordobab
1    225029801     cortomoltedo
2    525277114        aincontri
3    459326572  angelosfrentzos
4    536190247  andrea_pompilio
5    244143740     maisonalbino
6    325408922       10acompany
7   1200492710   arthurarbesser
8    111332587       alabmilano
9     36913223    angelosbratis
10   927243296    aujourlejour_
11   579993153        amenstyle
12   556136737  arnoldoebattois
13  1217757193             2w2m
14   462738676       1darklevel
15  1395095622  aquilanorimondi
16   544969648  abrahamkhangul1
17  3012232089  alessia_xoccato

In [3]:
names = list(seeds['screen_name'])

In [4]:
all_comb = list(itertools.combinations(names, 8))

In [5]:
res = {}
for i in range(50):
    res[i] = random.choice(all_comb)

In [6]:
with open('fashion/combinations_2.json', 'w') as fp:
    json.dump(res, fp)