In [1]:
import pandas as pd

1. Generate edges and nodes from raw data

In [30]:
# raw data source
path = 'data-seed/finance_20/'
#path = 'data-random/'

# correspondent target
outpath = 'finance_20/random-test/test-network-features/'

In [3]:
#relationship = 'follower'
relationship = 'following'

In [32]:
followers = pd.read_csv(path+relationship+'.csv')
userdata = pd.read_csv(path+'user_data.csv')

In [33]:
# nometadata in case of following --> id_followed
# in case of follower --> id_follower
nometadata = followers[['id_followed']].drop_duplicates()

In [34]:
nometadata.shape

(22279, 1)

In [35]:
nometadata.columns = ['id_user']

In [36]:
nodes = pd.concat([userdata, nometadata])
nodes.head(30)

,created_at,followers,following,id_user,lang,link_img,location,screen_name
0,2009-04-29 13:50:28,10175.0,875.0,36361027,en,http://pbs.twimg.com/profile_images/1013206078...,NYC,LaurenLaCapra
1,2010-01-14 22:25:06,44081.0,3256.0,104952689,en,http://pbs.twimg.com/profile_images/4535010690...,"New York, NY",LaMonicaBuzz
2,2009-04-27 18:04:03,108922.0,1993.0,35810531,en,http://pbs.twimg.com/profile_images/246722016/...,New York City,bill_easterly
3,2007-05-27 13:00:00,44753.0,458.0,6361512,en,http://pbs.twimg.com/profile_images/9411853575...,"Washington, DC",FGoria
4,2009-04-14 14:47:57,5329.0,5859.0,31137628,en,http://pbs.twimg.com/profile_images/7144592119...,"London, UK",firoozye
5,2009-01-05 04:02:29,2486160.0,1139.0,18622869,en,http://pbs.twimg.com/profile_images/4305289370...,DC,ezraklein
6,2011-01-22 23:27:35,47288.0,711.0,241709263,en,http://pbs.twimg.com/profile_images/9137969840...,NYC/London/Boston/on a plane,economistmeg
7,2011-10-24 19:17:56,10957.0,1297.0,397489668,en,http://pbs.twimg.com/profile_images/6472851348...,"London, England",RencapMan
8,2008-12-25 19:38:54,129801.0,653.0,18378349,en,http://pbs.twimg.com/profile_images/864622808/...,"Stamford, CT",KeithMcCullough
9,2011-07-01 20:01:28,146022.0,908.0,327577091,en,http://pbs.twimg.com/profile_images/6667312366...,"Ann Arbor, MI",JustinWolfers
10,2007-07-16 21:30:12,249964.0,1509.0,7517052,en,http://pbs.twimg.com/profile_images/8986795163...,Coronado,howardlindzon
11,2013-03-26 21:52:48,9071.0,142.0,1305698738,en,http://pbs.twimg.com/profile_images/3435110545...,NaN,ECONOMISTHULK
12,2009-03-02 19:19:35,1074276.0,3555.0,22522178,en,http://pbs.twimg.com/profile_images/3510014701...,New York City / Long Island,ReformedBroker
13,2011-09-12 20:27:11,6151.0,2632.0,372460791,en,http://pbs.twimg.com/profile_images/1542913687...,"Montana, USA",reinman_mt
14,2011-05-18 14:02:16,120351.0,46.0,300868924,en,http://pbs.twimg.com/profile_images/6712450769...,Luxembourg,EU_Eurostat
15,2010-11-02 10:14:52,20548.0,1120.0,211106542,en,http://pbs.twimg.com/profile_images/9514787326...,NaN,dsquareddigest
16,2012-05-09 08:05:27,8026.0,2166.0,575160556,en,http://pbs.twimg.com/profile_images/9271104381...,"Brussels, London",FaullJonathan
17,2011-11-07 23:40:31,145744.0,82.0,407347022,en,http://pbs.twimg.com/profile_images/8778698017...,Lost in the Eurozone,Queen_Europe
18,2009-04-29 22:13:57,44098.0,156.0,36499730,en,http://pbs.twimg.com/profile_images/2628203299...,New York,kathylienfx
19,2009-07-16 07:03:27,75740.0,1692.0,57268394,en,http://pbs.twimg.com/profile_images/6469818036...,London,katie_martin_fx
0,NaN,NaN,NaN,59440137,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,366744934,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,213652631,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,818488898418601984,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,118957612,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,989935887906689024,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,3351165501,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,17839715,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,14324552,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,2795112008,NaN,NaN,NaN,NaN

In [37]:
nodes['followers'] = nodes.apply(lambda x: x['followers'] if not pd.isnull(x['followers']) else 1, axis=1)
nodes['following'] = nodes.apply(lambda x: x['following'] if not pd.isnull(x['following']) else 1, axis=1)

In [38]:
nodes.head(30)

,created_at,followers,following,id_user,lang,link_img,location,screen_name
0,2009-04-29 13:50:28,10175.0,875.0,36361027,en,http://pbs.twimg.com/profile_images/1013206078...,NYC,LaurenLaCapra
1,2010-01-14 22:25:06,44081.0,3256.0,104952689,en,http://pbs.twimg.com/profile_images/4535010690...,"New York, NY",LaMonicaBuzz
2,2009-04-27 18:04:03,108922.0,1993.0,35810531,en,http://pbs.twimg.com/profile_images/246722016/...,New York City,bill_easterly
3,2007-05-27 13:00:00,44753.0,458.0,6361512,en,http://pbs.twimg.com/profile_images/9411853575...,"Washington, DC",FGoria
4,2009-04-14 14:47:57,5329.0,5859.0,31137628,en,http://pbs.twimg.com/profile_images/7144592119...,"London, UK",firoozye
5,2009-01-05 04:02:29,2486160.0,1139.0,18622869,en,http://pbs.twimg.com/profile_images/4305289370...,DC,ezraklein
6,2011-01-22 23:27:35,47288.0,711.0,241709263,en,http://pbs.twimg.com/profile_images/9137969840...,NYC/London/Boston/on a plane,economistmeg
7,2011-10-24 19:17:56,10957.0,1297.0,397489668,en,http://pbs.twimg.com/profile_images/6472851348...,"London, England",RencapMan
8,2008-12-25 19:38:54,129801.0,653.0,18378349,en,http://pbs.twimg.com/profile_images/864622808/...,"Stamford, CT",KeithMcCullough
9,2011-07-01 20:01:28,146022.0,908.0,327577091,en,http://pbs.twimg.com/profile_images/6667312366...,"Ann Arbor, MI",JustinWolfers
10,2007-07-16 21:30:12,249964.0,1509.0,7517052,en,http://pbs.twimg.com/profile_images/8986795163...,Coronado,howardlindzon
11,2013-03-26 21:52:48,9071.0,142.0,1305698738,en,http://pbs.twimg.com/profile_images/3435110545...,NaN,ECONOMISTHULK
12,2009-03-02 19:19:35,1074276.0,3555.0,22522178,en,http://pbs.twimg.com/profile_images/3510014701...,New York City / Long Island,ReformedBroker
13,2011-09-12 20:27:11,6151.0,2632.0,372460791,en,http://pbs.twimg.com/profile_images/1542913687...,"Montana, USA",reinman_mt
14,2011-05-18 14:02:16,120351.0,46.0,300868924,en,http://pbs.twimg.com/profile_images/6712450769...,Luxembourg,EU_Eurostat
15,2010-11-02 10:14:52,20548.0,1120.0,211106542,en,http://pbs.twimg.com/profile_images/9514787326...,NaN,dsquareddigest
16,2012-05-09 08:05:27,8026.0,2166.0,575160556,en,http://pbs.twimg.com/profile_images/9271104381...,"Brussels, London",FaullJonathan
17,2011-11-07 23:40:31,145744.0,82.0,407347022,en,http://pbs.twimg.com/profile_images/8778698017...,Lost in the Eurozone,Queen_Europe
18,2009-04-29 22:13:57,44098.0,156.0,36499730,en,http://pbs.twimg.com/profile_images/2628203299...,New York,kathylienfx
19,2009-07-16 07:03:27,75740.0,1692.0,57268394,en,http://pbs.twimg.com/profile_images/6469818036...,London,katie_martin_fx
0,NaN,1.0,1.0,59440137,NaN,NaN,NaN,NaN
1,NaN,1.0,1.0,366744934,NaN,NaN,NaN,NaN
2,NaN,1.0,1.0,213652631,NaN,NaN,NaN,NaN
3,NaN,1.0,1.0,818488898418601984,NaN,NaN,NaN,NaN
4,NaN,1.0,1.0,118957612,NaN,NaN,NaN,NaN
5,NaN,1.0,1.0,989935887906689024,NaN,NaN,NaN,NaN
6,NaN,1.0,1.0,3351165501,NaN,NaN,NaN,NaN
7,NaN,1.0,1.0,17839715,NaN,NaN,NaN,NaN
8,NaN,1.0,1.0,14324552,NaN,NaN,NaN,NaN
9,NaN,1.0,1.0,2795112008,NaN,NaN,NaN,NaN

In [39]:
# for visualization, use id field instead of id_user
nodes.columns = [u'created_at', u'followers', u'following', u'id', u'lang',
       u'link_img', u'location', u'screen_name']

In [40]:
nodes.drop_duplicates(subset='id', inplace=True)

In [41]:
nodes[['id','followers','following']].to_csv(outpath+relationship+'_network_nodes.csv', index=None)

In [42]:
# needed for Gephi viz
followers.columns = ['source', 'target']

In [43]:
followers.to_csv(outpath+relationship+'_network_edges.csv', index=None)

2. Generate network using SNAP

In [38]:
edgefile = outpath+'followers_network_edges.csv'
nodefile = outpath+'followers_network_nodes.csv'

In [19]:
def generateTables(targetpath, netfile, net):
    #split file into node and edge file
    net_file = open(targetpath+netfile+'.csv', 'r') 
    nodes_file = open(targetpath+netfile+'_nodes.csv', 'w')
    nodes_file.write('id\tfollowers\tfollowing\tid_user\n')
    edges_file = open(targetpath+netfile+'_edges.csv', 'w')
    edges_file.write('source\ttarget\n')

    n_nodes = net.GetNodes()
    n_edges = net.GetEdges()

    line_num = 0 
    for line in net_file:
        if line_num>=4 and line_num < (n_nodes+4) : # 4 headers
            nodes_file.write(line)
        elif line_num >= (n_nodes+6) and line_num < (n_nodes+6+n_edges): #skip #END
            edges_file.write(line)
        line_num = line_num + 1

In [40]:
## NETWORK CONSTRUCTION ##
e_schema = snap.Schema()
e_schema.Add(snap.TStrTAttrPr("source", snap.atStr))
e_schema.Add(snap.TStrTAttrPr("target", snap.atStr)) 

n_schema = snap.Schema()
n_schema.Add(snap.TStrTAttrPr("id", snap.atStr))
n_schema.Add(snap.TStrTAttrPr("followers", snap.atFlt))
n_schema.Add(snap.TStrTAttrPr("following", snap.atFlt))

#define TTable objects of edges and nodes
context = snap.TTableContext()
edgetable = snap.TTable.LoadSS(e_schema, edgefile, context, ",", snap.TBool(True))
nodetable = snap.TTable.LoadSS(n_schema, nodefile, context, ",", snap.TBool(True))

#define (if any) attribute names using SNAP string vectors
edgeattrv = snap.TStrV()

nodeattrv = snap.TStrV()
nodeattrv.Add("following")
nodeattrv.Add("followers")
nodeattrv.Add("id")

#build SNAP network using the two TTable objects
net = snap.ToNetwork(snap.PNEANet, edgetable, "source", "target", edgeattrv, nodetable, "id", nodeattrv, snap.aaFirst)

In [41]:
print 'Nodes '+str(net.GetNodes())
print 'Edges '+str(net.GetEdges())

Nodes 3654338
Edges 4342688

In [42]:
DegToCntV = snap.TIntPrV()
snap.GetInDegCnt(net, DegToCntV)

In [43]:
for item in DegToCntV:
    print "%d nodes with degree %d" % (item.GetVal2(), item.GetVal1())

3654289 nodes with degree 0
1 nodes with degree 1
1 nodes with degree 2
1 nodes with degree 4
2 nodes with degree 6
2 nodes with degree 12
2 nodes with degree 18
1 nodes with degree 22
1 nodes with degree 26
1 nodes with degree 30
1 nodes with degree 42
1 nodes with degree 62
1 nodes with degree 94
1 nodes with degree 105
1 nodes with degree 140
1 nodes with degree 178
1 nodes with degree 226
1 nodes with degree 270
1 nodes with degree 310
1 nodes with degree 486
1 nodes with degree 532
1 nodes with degree 566
1 nodes with degree 606
1 nodes with degree 614
1 nodes with degree 748
1 nodes with degree 784
1 nodes with degree 1191
1 nodes with degree 1260
1 nodes with degree 1386
1 nodes with degree 1525
1 nodes with degree 3888
1 nodes with degree 4552
1 nodes with degree 9327
1 nodes with degree 12761
1 nodes with degree 13095
1 nodes with degree 17449
1 nodes with degree 20652
1 nodes with degree 20665
1 nodes with degree 23832
1 nodes with degree 23980
1 nodes with degree 31027
1 nodes with degree 36038
1 nodes with degree 45179
1 nodes with degree 48338
1 nodes with degree 255458
1 nodes with degree 709801
1 nodes with degree 3055364

In [44]:
snap.DelDegKNodes(net, 1, -1)

In [45]:
print 'Nodes '+str(net.GetNodes())
print 'Edges '+str(net.GetEdges())

Nodes 496037
Edges 1184387

In [46]:
networkname = 'followers_core_network_1'
#save network for metadata and visualization
snap.SaveEdgeListNet(net, outpath+networkname+'.csv', 'Followers Core Network')
generateTables(outpath, networkname, net)

#save network for node2vec input
snap.SaveEdgeList(net, outpath+networkname+'.edgelist')

### 3. Merge seed followers network and test 1 followers network

In [ ]:
path = 'finance_20/random-test/'